div {
  font-size: 1.2em;
  color: #ffeead;
}

.container {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 100px 100px;
  gap: 5px;
}

.container > div {
  background-color: brown;
}

/* auto-fill mete otra columna aunque no haya contenido */
.container2 {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: 100px 100px;
  gap: 5px;
}

.container2 > div {
  background-color: darkolivegreen;
}

.menu {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu > div {
  border: 1px solid black;
  padding: 5px;
}
