@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 30px;
    padding: 12px;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}
img{
    max-width: 100%;
}

h1{
    border-bottom: 1px solid gray;
}

.container-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
    gap: 20px;
    background-color: #eee;
}
.content{
    align-self: center;
}

.image {
    background-image: url("./imgs/ocean.jpg");
    background-position: center;
    background-size: cover;
}

.container-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 35px 0;

}
.container-2 > div {
    background-color: #eee;
}
.container-2_body{
    padding: 0 16px;
}

@media (max-width: 800px) {
    .container-2{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .container-2{
        grid-template-columns: 1fr;
    }
  }