@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body{
    background-color: gainsboro;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

header{
    background: #fff;
    padding: 10px;
}

nav{
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: #333;
}

nav a:hover{
    font-weight: bold;
    transform: scale(1.15);
}

nav h1{
    text-transform: uppercase;
    line-height: 1.25em;
    letter-spacing: 2px;
}

main{
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 285px;
    gap: 20px;
}
main div{
    overflow: hidden;
    background-color: #fff;
    border: 16px solid #fff;
    border-radius: 6px;
}
.span2{
    grid-row: span 2;
}
.col-span2{
    grid-column: span 2;
}

img{
    min-width: 100%;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    main{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 620px) {
    main{
        grid-template-columns: 1fr;
    }
    .col-span2{
        grid-column: span 1;
    }
    img {
        width: 100%;
        height: auto;
    }
    nav {
        grid-template-columns: repeat(4, 1fr);
    }
    nav h1 {
        grid-row: 1;
        grid-column: 1 / -1;
    }
}